@charset "UTF-8";
 .blue{
   color:blue;
 }
 .center{
   text-align: center;
 }
 .mark{
  font-size: 20px;
 }
 .circle {
  background: #b7ec46;
  border-radius: 50%;
  width: 300px;
  height: 80px;
  color: black;
  font-size: 30px;
  text-align: center;
  line-height: 80px;
}